
{%extends 'base.html'%}
{%block content%}
{% load static %}
<br>
<form class="search" action="{% url 'search' %}" method="get">
    <input type="text" name="query" placeholder="Recherche..." width="155px">
    <button type="submit">Rechercher</button>
    
 </form>
 <br><br>
 <br>
 

 
<h1 id="prod">Produits </h1>
<br><br><br>
<div class="section"> 
    {%for p in products%}
    <div class="detail"> 

        <div class="card" style="width: 18rem;">
            <img src="{{p.thumbnail.url}}" class="card-img-top" alt="{{product.name}}">
            <div class="card-body">
              <h5 class="card-title">{{p.price}} Francs CFA</h5>
              <p class="card-text">{{p.name}}</p>
              <a href="{% url 'product' p.slug %}"  class="see"> Voir le produit</a>
            </div>
          </div>


</div>
{%endfor%}
</div>

{%endblock%}
